<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate
                enctype="multipart/form-data" class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]"
                        value="<%=campground.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]"
                        value="<%=campground.location%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload additional Images</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            value="<%=campground.price %>" name="campground[price]" aria-describedby="price-label"
                            required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required><%=campground.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div class="container">
                <div class="mb-3 row">
                    <h5>Edit Photos</h5>
                    <% campground.images.forEach(function(img, i) {%>
                        <div class="col-6">
                            <img src="<%= img.thumbnail%>" class="img-thumbnail" alt="">
                            <div class="form-check">
                                <input type="checkbox" id="image-<%=i%>" name="deleteImages[]"
                                    value="<%= img.filename %>">
                                <label for="image-<%=i%>">Delete</label>
                            </div>
                        </div>
                        <% }) %>
                </div>
                <div class="mb-3"> <button class="btn btn-info">Update Campground</button></div>

                <footer><a href="/campgrounds/<%=campground._id%>">Back to Campground</a></footer>

            </form>
        </div>
    </div>